name: continuous-integration
run-name: continuous-integration

on:
  push:
    branches:
    - master

jobs:
  continuous-integration:
    name: continuous-integration
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - name: Install Dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
          
    - name: Checkout
      uses: actions/checkout@v5
      
    - name: Restore
      run: dotnet restore src/ZippyNeuron.Pipelinez.sln

    - name: Build
      run: dotnet build src/ZippyNeuron.Pipelinez.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test src/ZippyNeuron.Pipelinez.sln --configuration Release --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage

    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage/**/coverage.cobertura.xml
        badge: false
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: '100 100'